body {
  max-width: 600px;
  margin:0 auto;
  padding:20px;

h2 {
  color:#34a853;
}

h3 {
  color:#fbbc05;
}

iframe {
border-radius:40px;
}

img {
max-width:400px;
height:auto;
border-radius:20px;
display:block;
margin: 0 auto;
}

figure {
display:block;
width:fit-content;
}

figcaption {
font-size:25px;
text-align:center;
}

.profile-card {
width:500px;
height:500px;
border-radius:40px;
padding:20px;
text-align:center;
border:2px solid #4285F4;
}

p{
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:20px;
}

.google-logo {
  font-size: 25px;
}

.g1 {
  color:#4285F4;
  }

.o1 {
  color:#EA4335;
}

.o2 {
  color:#FBBC05;
}


.g2 {
  color:#4285F4;
}


.l {
  color:#34A853;
}


.e {
  color:#EA4335;
}










