h1 {
  color: #4285f4;
}

body {
  max-width:600px;
  margin:0 auto;
}

h2 {
  color:#34a853;
}

h3 {
  color:#fbbc05;
}

iframe {
border-radius:5px;
}

img {
max-width:400px;
height:auto;
border-radius:20px;
}







